body{
  background-color: rgb(127, 197, 255);
}

li{
  display: inline-block;
}

textarea {
  width: 100%;
  height: 200px;
}

.animalbox {
  vertical-align: top;
  display: inline-block;

  padding: 10px;
  width: 400px;
  height: 600px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;
  margin: 10px;

  /* color: white;
  text-shadow: 0.1em 0 black, 0 0.1em black, -0.1em 0 black, 0 -0.1em black; */

  /* text-shadow: 0.1em 0 white, 0 0.1em white, -0.1em 0 white, 0 -0.1em white; */
}

.inside_animal{
  width: 180;
  display: inline-block;
}

.skyblue{
  background-color: rgb(144, 236, 248);
}

.bordered{
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.scroller{
  overflow-y: scroll;
}

.modelbox {
  background-color: rgb(144, 236, 248);
  vertical-align: top;
  display: block;

  padding: 10px;
  width: 800px;

  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.halfbox{
  display: inline-block;
  width: 350;
  padding: 10px;
  vertical-align: top;
}

.thumbox{
  vertical-align: top;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-flex;
}

.savannah {
  background-image: url("/static/img/savannah.jpg");
}

.animal_description {
  height: 160px;
  margin-bottom: 20px;
}

.face {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  width: 150px;
  height: 150px;
}

.wideshot {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  width: 380px;
  height: 190px;
}

.thumb {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  width: 75px;
  height: 75px;
  margin: 5px;
}
