<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Animal Family</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="animalbox">
      <h3>{{aniclass.name}}</h3>
      <img class="face" src="{{aniclass.img.url}}" />

      <div class="animal_description">
        <h4>Quick Description</h4>
        <p>
          <b>{{aniclass.desc}}</b>
        </p>
      </div>
    </div>

    <div class="animalbox">
      <h1>Comments</h1>
      {% for comment in comments %}
      <p>
        {{comment.text}}
        <i>-{{comment.commentor.first_name}} @ {{comment.created_at}}</i>
      </p>
      {% endfor %} {% if logged_in == True %}
      <form action="/comment" method="POST">
        {% csrf_token %}
        <p>
          <label for="id_text">Comments:</label>
          <input type="textarea" name="text" required id="id_text" />
        </p>
        <input
          type="hidden"
          id="model_type"
          name="model_type"
          value="aniclass"
        />
        <input
          type="hidden"
          id="target"
          name="target"
          value="{{aniclass.id}}"
        />
        <input type="submit" value="Submit" />
      </form>
      {% else %}
      <p>Login to make comment</p>
      {% endif %}
    </div>

    <div class="animalbox">
      <h1>Edits</h1>
      {% for edit in edits %}
      <p>
        {{edit.text}} <i>-{{edit.editor.first_name}} @ {{edit.created_at}}</i>
      </p>
      {% endfor %}{% if logged_in == True %}
      <a href="animals/{{animal.id}}/edit">Make Edit</a>
      {% else %}
      <p>Login to edit</p>
      {% endif %}
    </div>
    <div class="modelbox">
      {% for animal in all_animals %}
      <a href="/animals/{{animal.id}}">
        <img class="thumb" src="{{animal.face_img.url}}"
      /></a>
      {% endfor %}
    </div>
    <a href="/index">Back</a>
  </body>
</html>
