<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Animal Family</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
  <div class="container">
    {% include 'partials/nav.html'%}

    <div class="row p-1">
      <div class="col-12 col-lg-5 border border-dark rounded skyblue p-2">
        <h3>{{family.name}}</h3>
        <img class="face" src="{{family.img.url}}" />
  
        <div class="animal_description">
            <p>
            <b>{{family.desc}}</b>
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-5 border border-dark rounded skyblue p-2">
        <h1>Edit Text</h1>
      <form action="/edit_family_exe" method="POST">
        {% csrf_token %}
        <p>
          <label for="id_name">Animal Family:</label>
          <input
            type="text"
            name="name"
            required
            id="id_name"
            value="{{family.name}}"
          />
        </p>
        <p>Description:</p>
        <textarea name="desc">{{family.desc}}</textarea>
        <input
          type="hidden"
          id="family_id"
          name="family_id"
          value="{{family.id}}"
        />
        <input type="submit" value="Submit" />
      </form>
      <h1>Edit Image</h1>
      <form
        action="/edit_family_exe"
        enctype="multipart/form-data"
        method="POST"
      >
        {% csrf_token %}
        <p>
          <input type="file" name="img" accept="image/*" required id="id_img" />
          <input type="submit" value="Submit" />
        </p>
        <input
          type="hidden"
          id="family_id"
          name="family_id"
          value="{{family.id}}"
        />
      </form>
      </div>
    </div>





  </div>
  </body>
</html>
