<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    {% include 'partials/nav.html'%}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}


    <div class="boxybox">
      <h1>Edit Profile</h1>

      <form action="/edit_user_exe" method="POST">
        {% csrf_token %}
        <div>
          <label for="first_name">First Name:</label>
          <input type="text" id="first_name" name="first_name" value="{{user.first_name}}"/>
        </div>
        <div>
          <label for="last_name">Last Name:</label>
          <input type="text" id="last_name" name="last_name" value="{{user.last_name}}"/>
        </div>
        <div>
          <label for="handle">Handle:</label>
          <input type="text" id="handle" name="handle" value="{{user.handle}}"/>
        </div>
        <div>
          <label for="email">Email Address:</label>
          <input type="text" id="email" name="email" value="{{user.email}}"/>
        </div>

        <div>
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>

</html>
