<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Animal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="animalbox">
      <h3>{{biome.name}}</h3>
      <img class="face" src="{{biome.img.url}}" />

      <div class="animal_description">
        <p>
          <b>{{biome.desc}}</b>
        </p>
      </div>
    </div>

    <div class="animalbox">
      <h1>Edit Text</h1>
      <form action="/edit_biome_exe" method="POST">
        {% csrf_token %}
        <p>
          <label for="id_name">Habitate Name:</label>
          <input
            type="text"
            name="name"
            required
            id="id_name"
            value="{{biome.name}}"
          />
        </p>
        <p>Description:</p>
        <textarea name="desc">{{biome.desc}}</textarea>
        <input
          type="hidden"
          id="biome_id"
          name="biome_id"
          value="{{biome.id}}"
        />
        <input type="submit" value="Submit" />
      </form>
    </div>

    <div class="animalbox">
      <h1>Edit Image</h1>
      <form
        action="/edit_biome_exe"
        enctype="multipart/form-data"
        method="POST"
      >
        {% csrf_token %}
        <p>
          <input type="file" name="img" accept="image/*" required id="id_img" />
          <input type="submit" value="Submit" />
        </p>
        <input
          type="hidden"
          id="biome_id"
          name="biome_id"
          value="{{biome.id}}"
        />
      </form>
    </div>

    <a href="/">Back</a>
  </body>
</html>
