<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Document</title>
  </head>
  <body>
    {% if logged_in == True %}
    <h1>
      Welcome {{user.first_name}} {{user.last_name}}
      <a href="/users/{{user.id}}">profile</a>
    </h1>
    <a href="/logout"><p>logout</p></a>
    <a href="/add_biome">Add a biome</a><br />
    <a href="/add_class">Add an animal class</a><br />
    <a href="/add_family">Add an animal family</a><br />
    <a href="/add_animal">Add an animal</a><br />
    {% else %}
    <h1>Welcome Visitor</h1>
    <a href="logregister">Login</a>
    {% endif %}

    <div class="modelbox">
      {% for animal in all_animals %}
      <a href="animals/{{animal.id}}">
        <img class="thumb" src="{{animal.face_img.url}}"
      /></a>
      {% endfor %}
    </div>
    <div class="modelbox">
      {% for family in all_families %}
      <a href="families/{{family.id}}">
        <img class="thumb" src="{{family.img.url}}"
      /></a>
      {% endfor %}
    </div>

    <div class="modelbox">
      {% for aniclass in all_classes %}
      <a href="aniclasses/{{aniclass.id}}">
        <img class="thumb" src="{{aniclass.img.url}}"
      /></a>
      {% endfor %}
    </div>

    <div class="modelbox">
      {% for biome in all_biomes %}
      <a href="biomes/{{biome.id}}">
        <img class="thumb" src="{{biome.img.url}}"
      /></a>
      {% endfor %}
    </div>
  </body>
</html>
